{{ define "main" }}
<div id="reading-progress-bar" role="presentation" class="fixed z-10 top-0 left-0 h-1 bg-gray-700"></div>

<article class="article single-page">
    <h1 class="artitle__title">{{ .Title }}</h1>

    {{if not .Params.hideMetadata }}
      <header class="article__header">
        {{ $readTime := cond (gt .ReadingTime 1) "minutes" "minute" }}
        <span class="">
          Read in {{ .ReadingTime }} {{ $readTime }} &middot;
          <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
            {{ dateFormat "2006-01-02" (default .Date (.PublishDate)) }}
          </time>
        </span>
      </header>
    {{ end }}

    <div class="article__content py-5">
      {{ .Content }}
    </div>

    {{if not .Params.hideAuthorBio }}
      <section class="author">
        {{if or (eq (substr .Site.Params.avatar 0 7) "http://") (eq (substr .Site.Params.avatar 0 8) "https://")}}
          <img alt="Avatar photo" class="author__avatar" src="{{.Site.Params.avatar}}">
        {{ else }}
          <img alt="Avatar photo" class="author__avatar" src="{{.Site.Params.avatar | relURL}}">
        {{ end }}

        <span class="author__bio">{{ .Site.Params.authorBio | safeHTML }}</span>

        {{ $title := .Title }}
        {{ $url := printf "%s" .Permalink | absLangURL }}
        {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}
      </section>
    {{ end }}

    {{if not .Params.hideComments }}
      <section class="comments ">
        <h2>评论</h2>
        {{ template "_internal/disqus.html" . }}
      </section>
    {{ end }}
</article>

{{if not .Params.hideSuggestions }}
  {{ partial "suggestions.html" . }}
{{ end }}
{{ end }}
